<!-- <div class="container">
    <h1>CURVE</h1>
    <h2>Please login to your account</h2>
    <form #LoginForm="ngForm" (ngSubmit)="userLogin(LoginForm.value)">
        <input placeholder="Username" [(ngModel)]="username" type="text" name="username" required patter="[a-zA-Z0-9]+">
        <input placeholder="Password" [(ngModel)]="password" type="password" name="password" required>   
        <input type="checkbox" [(ngModel)]="rememberMe" id="rememberMe" name="rememberMe"> 
        <button type="submit">Login</button>
    </form>
</div> -->


<head>
    <title>Sign In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" type="image/wdqpng" href="../img/favicon.ico" sizes="16x16" />
</head>
    
<body style=" background-image: linear-gradient(65deg, #AEEFF9, #FCF7CC);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;">
    <div class="row flex-row-reverse no-gutters" id="signin-parent">
        <div class="col-md-6" id="signin-container">
            <h1>CURVE</h1>
            <br>
            <p>Please sign into your account.</p>

            <form #LoginForm="ngForm" style="display: flex; flex-direction: column;" (ngSubmit)="userLogin(LoginForm.value)">
                <input placeholder="Username" [(ngModel)]="username" type="text" name="username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required patter="[a-zA-Z0-9]+">
                <br>    
                <input placeholder="Password" [(ngModel)]="password" type="password" name="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required>   
                <br>   
                <div class="options">
                    <div><input type="checkbox" [(ngModel)]="rememberMe" id="rememberMe" name="rememberMe"> Remember Me</div>
                    <a href="#">Forgot your password?</a>
                </div>
                <br>
                <div class="options">
                    <button type="submit" class="myButton">Sign in</button>    
                    <a href="" type="myButton" class="myButton">Register</a>
                </div>
                
            </form>
            

            <div id="legal">
                <a href>Terms of Use</a>
                <a href>Privacy</a>
            </div>
            </div>
        <div class="col-md-6" id="wave-canvas"></div>
        </div> 
    
</body>

