<!-- <div class="container">
<h1>CURVE</h1>
<h2>Please complete to create your account.</h2>
<form #RegisterForm="ngForm" (ngSubmit)="register(RegisterForm.value)">
<input placeholder="Username" [(ngModel)]="username" type="text" name="username" required patter="[a-zA-Z0-9]+">
<input placeholder="Password" [(ngModel)]="password" type="password" name="password" required> 
<input placeholder="Confirm Password" [(ngModel)]="repassword" type="password" name="repassword" required> 
<select name="entity" [(ngModel)]="entity"> 
<option value="student">Student</option>
<option value="faculty">Faculty</option>        
</select>
<input type="checkbox" [(ngModel)]="agree" id="agree" name="agree"> 
<button type="submit">Sign up</button>
</form>

</div> -->

<!-- <form #personForm="ngForm"(ngSubmit)="onSubmit(personForm.value)">     
<input name="firstName" [(ngModel)]="firstName">
<input name="lastName" [(ngModel)]="lastName">
<button type="submit">Save</button>
</form> -->

<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<!-- <link rel="stylesheet" type="text/css" href="./register.css" /> -->
    <link rel="icon" type="image/wdqpng" href="../img/favicon.ico" sizes="16x16" />
</head>

<body style=" background-image: linear-gradient(65deg, #AEEFF9, #FCF7CC);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;">



<div class="row flex-row-reverse no-gutters" id="signin-parent">
    <div class="col-md-6" id="register-container">

        <h1>CURVE</h1>
        <br>

        <p>Please complete to create your account.</p>
        <form #RegisterForm="ngForm" (ngSubmit)="register(RegisterForm.value)">
            <div class="input-group">
                <input style="width: 300px" placeholder="Username" [(ngModel)]="username" type="text" name="username" required patter="[a-zA-Z0-9]+" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Username'">
            </div>
            <div class="input-group">
                <input style="width: 300px" placeholder="Password" [(ngModel)]="password" type="password" name="password" required onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'First name'"> 
            </div>
            <div class="input-group">
                <input style="width: 300px" type="password" [(ngModel)]="repassword" name="Confirm password" placeholder="Confirm password" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Confirm password'">
            </div>
        <!-- <input placeholder="Confirm Password" [(ngModel)]="repassword" type="password" name="repassword" required>  -->
            <div style="margin-top: 15px">
                <label for="identity">Identity:</label>
                <select style="margin-left: 20px; width: 220px;" id="identity" name="entity" [(ngModel)]="entity">Identity:
                    <option value="">--Please choose an identity--</option>
                    <option value="student">Student</option>
                    <option value="faculty">Faculty</option>        
                </select>
            </div>
            <div class="options" style="margin: 30px 0;">
                <div><input type="checkbox" name="remember user" style="margin-left: 15px;"> I agree to the terms and conditions.</div>
            </div>
        <!-- <input type="checkbox" [(ngModel)]="agree" id="agree" name="agree">  -->
            <div style="text-align: center">
                <button type="submit" class="myButton">Register</button>
            </div>
        </form>
        
        <br>

        
        
        <a href id="account-exists">Already have an account? Sign in.</a>


        <div id="legal">
            <a href>Terms of Use</a>
            <a href>Privacy</a>
        </div>
    </div>
    <div class="col-md-6" id="wave-canvas"></div>
</div>

</body>