<app-header></app-header>

<body>
    <!-- <div class="row">
        <iframe
            src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=amFzb25saXVvazA1MDdAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=dDFoNHNrZWM4dXNkcGt0azI3OTJwNzBvMmJoYzlsNGxAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=emgtY24udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%234285F4&amp;color=%230B8043"
            style="border:solid 1px #777" width="800" height="600" aligh="right" frameborder="0" scrolling="no">
        </iframe>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="coll col-sm-2 col-xl-3 calendar-wrapper">
                <mat-calendar #calendar (monthSelected)="monthSelected($event)" [(selected)]="selectedDate"
                (selectedChange)="dateChanged()"></mat-calendar>
            </div>
        
            <div class="col col-sm-10 col-xl-9 weekly-view">
                <div class="table-responsive-sm">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" *ngFor="let day of selectedWeek">
                                    {{day.display}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let time of eventArr; index as i">
                                <th scope="col">{{time.time}}</th>
                                <td scope="col">
                                    <ul>
                                        <section *ngFor="let text of weeklyEvents[0][i]">
                                            <li *ngIf="text!==''">
                                                {{text}}
                                            </li>
                                        </section>
                                    </ul>
                                </td>
                                <td scope="col">
                                    <ul>
                                        <section *ngFor="let text of weeklyEvents[1][i]">
                                            <li *ngIf="text!==''">
                                                {{text}}
                                            </li>
                                        </section>
                                    </ul>
                                </td>
                                <td scope="col">
                                    <ul>
                                        <section *ngFor="let text of weeklyEvents[2][i]">
                                            <li *ngIf="text!==''">
                                                {{text}}
                                            </li>
                                        </section>
                                    </ul>
                                </td>
                                <td scope="col">
                                    <ul>
                                        <section *ngFor="let text of weeklyEvents[3][i]">
                                            <li *ngIf="text!==''">
                                                {{text}}
                                            </li>
                                        </section>
                                    </ul>
                                </td>
                                <td scope="col">
                                    <ul>
                                        <section *ngFor="let text of weeklyEvents[4][i]">
                                            <li *ngIf="text!==''">
                                                {{text}}
                                            </li>
                                        </section>
                                    </ul>
                                </td>
                                <td scope="col">
                                    <ul>
                                        <section *ngFor="let text of weeklyEvents[5][i]">
                                            <li *ngIf="text!==''">
                                                {{text}}
                                            </li>
                                        </section>
                                    </ul>
                                </td>
                                <td scope="col">
                                    <ul>
                                        <section *ngFor="let text of weeklyEvents[6][i]">
                                            <li *ngIf="text!==''">
                                                {{text}}
                                            </li>
                                        </section>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>