iframe{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;;
}

// .calendar-wrapper {
//     margin-top: 2 rem;
//     height: 50px;
//     width: 50px;
//     // background-color: white;
// }

mat-calendar {
    margin: 1rem;
    background-color: white;
}

::ng-deep .event-day div {
    border-radius: 999px;
    background-color: #04ceec;
    color: #faf2ab;
}

// ::ng-deep .event-day:hover div:hover {
//     border-radius: 999px;
//     background-color: blue;
//     color: white;
// }

::ng-deep.event-day:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
/* Highlight */
::ng-deep.event-day>div:not(.mat-calendar-body-selected) {
    border-radius: 999px;
    background-color: #04ceec;
    color: #faf2ab;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  ::ng-deep.event-day .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    margin: 5px 5px;
    padding: 8px 5px;
    width: 300px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  ::ng-deep .event-day:hover .tooltiptext {
    visibility: visible;
  }

  .container {
    width: 100vw;
    width: 100%;
    padding: 0;
    margin-left: 3rem;
    margin-right: 2rem;
  }

  .calendar-wrapper {
      left: 0;
      // margin-right: 5px!important;
      margin-left: 0!important;
      display: inline-block;
    //   min-width: 100%;
      // position: relative;
    //   height: 50vh;
  }


  ::ng-deep mat-calendar {
      min-width: 100%;
      margin-left:0!important;
      margin-right: 5rem!important;
      margin-top: 1rem!important;
      box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
  }

  .weekly-view {
      margin-top: 1rem;
      margin-bottom: 2rem;
      // margin-left: 5px;
      height: 80vh;
      max-height: 80vh;
      overflow-y: scroll;
      // overflow-x: hidden;
  }

  table {
      // margin-top: 5px;
      background-color: white;
      box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
      border-collapse: collapse;
      // padding-left: 2rem;
      right: 0;
      width: 100%;
  }

  .table-responsive-sm {
    margin-left: 2rem;
  }

  thead th {
      position: sticky;
      top: 0;
      margin-top: 0;
      background:#eee;
  }

  tbody th td {
    padding: 8px 16px; 
    padding-top: 0px
  }

  th {
      max-width: 20px;
  }

  td {
      max-width: 20px; 
  }

  ul {
    margin: 1px;
    padding-left: 10px;
  }
