
<app-header></app-header>

<div class="row justify-content-sm-center" *ngIf="loadingPage">
    <mat-spinner></mat-spinner>
</div>

<body *ngIf="!loadingPage">
    <div class = "container-fluid">
        <div class = "row justify-content-lg-center">
            <div class = "col-lg-3 col-sm-4">
                <div class = "profile-card">
                    <img [src] = "student.image" class = "pro-pic" (click)="test()" (load)="test()">
                    <div class="profile-item" *ngIf="loadingImg && student.image != ''">
                        <mat-spinner></mat-spinner>
                    </div>
                    <h4 id = "name">{{student.first_name}} {{student.last_name}}</h4>
                    <div class = "caption-text">Class of {{student.graduation_class}}</div>

                    <div class = "profile-item">
                        <h6>Majors</h6>
                        {{student.major}}
                    </div>
                    <div class = "profile-item">
                        <h6>Minors</h6>
                        {{student.minor}}
                    </div>
                    <div class = "profile-item">
                        <h6>Email</h6>
                        {{student.email}}
                    </div>
                    <div class = "profile-item">
                        <h6>Phone</h6>
                        {{student.phone}}
                    </div>
                    <div class = "profile-item" *ngIf="student.resume && student.resume != ''">
                        <a href="{{student.resume}}"><h6 class="resume-link">Resume</h6></a>
                    </div>
                </div>
                <div>
                    <!-- <button class="myButton" (click)="edit()" >Edit</button> -->
                    <button mat-raised-button color="primary" (click)="edit()">Edit</button>
                </div>

                <!-- <div class = "documents">
                    <div class = "resume">
                        <a href="https://test-image-upload-brad.s3.us-east-2.amazonaws.com/1578510041728.pdf"><h6>Resume</h6></a>
                    </div>
                    <div class = "transcript">
                        <a href=""><h6>Transcripts</h6></a>
                    </div>
                    <div class = "cover-letter">
                        <a href=""><h6>Cover Letters</h6></a>
                    </div>
                    <div class = "rec-letter">
                        <a href=""><h6>Letters of Recommendation</h6></a>
                    </div>
                </div> -->
            </div>

            <div class = "col-sm-8">           
                <div class="d-flex flex-column align-items-center student-content">
                    <h1 style="margin-bottom: 1rem;">Interests</h1>
                    <div class = "interests-container">
                        <div class = "interest" *ngFor="let interest of student.interests">
                            {{interest}}
                        </div>                                                 
                    </div>
                    <!-- <button class="myButton" (click)="openInterestsDialog()">Edit Interests</button> -->
                    <button mat-raised-button color="primary" class="interests-btn" (click)="openInterestsDialog()">Edit Interests</button>
                    <div class = "student-summary">
                        <h1>STUDENT SUMMARY </h1>
                        <div class="row" style="width:100%">
                            <mat-form-field style="width:100%" class="summary-text">
                                <mat-label>Edit summary:</mat-label>
                                <textarea matInput cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize"
                                        cdkAutosizeMinRows="5"
                                        cdkAutosizeMaxRows="10" 
                                        [(ngModel)]="newSummary"
                                        >{{newSummary}}</textarea>
                            </mat-form-field>
                        </div>
                        <div class="row justify-content-lg-center" style="width:100%">
                            <button mat-raised-button color="primary" class="sum-btn" (click)="saveSummary()">Save summary</button>
                        </div>
                    </div>

                </div>
            </div>
      </div>
    </div> 
</body>

