
<app-header></app-header>

<div class="row justify-content-sm-center" *ngIf="loadingPage">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<body *ngIf="!loadingPage">
    <div class = "container-fluid">
        <div class = "row justify-content-lg-center">
            <div class = "col-lg-3 col-sm-4">
                <div class = "profile-card">
                    <img [src] = "student.image" class = "pro-pic" (click)="test()">
                    <h4 id = "name">{{student.first_name}} {{student.last_name}}</h4>
                    <div class = "caption-text">Class of {{student.graduation_class}}</div>

                    <div class = "profile-item">
                        <h6>Majors</h6>
                        {{student.major}}
                    </div>
                    <div class = "profile-item">
                        <h6>Minors</h6>
                        {{student.minor}}
                    </div>
                    <div class = "profile-item">
                        <h6>Email</h6>
                        {{student.email}}
                    </div>
                    <div class = "profile-item">
                        <h6>Phone</h6>
                        {{student.phone}}
                    </div>
                </div>
                <div>
                    <button class="myButton" (click)="edit()" >Edit</button>
                </div>

                <div class = "documents">
                    <div class = "resume">
                        <a href="https://test-image-upload-brad.s3.us-east-2.amazonaws.com/1578510041728.pdf"><h6>Resume</h6></a>
                    </div>
                    <div class = "transcript">
                        <a href=""><h6>Transcripts</h6></a>
                    </div>
                    <div class = "cover-letter">
                        <a href=""><h6>Cover Letters</h6></a>
                    </div>
                    <div class = "rec-letter">
                        <a href=""><h6>Letters of Recommendation</h6></a>
                    </div>
                </div>
            </div>

            <div class = "col-sm-8">           
                <div class="d-flex flex-column align-items-center student-content">
                    <!-- <div class="searchbar">
                        <input class="search_input" [(ngModel)]="searchQuery" type="text" name="" placeholder="Search...">
                        <a class="search_icon" (click)="search()"><i class="fas fa-search"></i></a>
                    </div> -->
                    <h1 style="margin-bottom: 1rem;">Interests</h1>
                    <div class = "interests-container">
                        <div class = "interest" *ngFor="let interest of student.interests">
                            {{interest}}
                            <!-- <i class="fas fa-plus-circle fa-xs"></i> -->
                        </div>                                                 
                    </div>

                    <button class="myButton modal-btn" data-toggle="modal" data-target="#interestsModal">Edit interests</button>
                        
                    <div class = "student-summary">
                        <h1>STUDENT SUMMARY </h1>
                        {{student.student_summary}}
                    </div>

                </div>
            </div>
      </div>
    </div> 
    
    <app-add-interests #interestsModal [User]="student" (Response)="updateInterests($event)"></app-add-interests>
</body>

