<h2 mat-dialog-title>Submit application</h2>
<flash-messages></flash-messages>
<mat-spinner style="display:block;margin:0 auto;" *ngIf="isLoading"></mat-spinner>
<mat-dialog-content class="mat-typography" *ngIf="!isLoading">
  <mat-list>
    <mat-list-item>
      <p> <strong>Opportunity name: </strong>{{data.opt.name}}</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <p> <strong>School name: </strong>{{data.opt.school}}</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <p> <strong> Description: </strong>{{data.opt.summary}}</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <p> <strong> Apply before: </strong>{{data.opt.expireTime}}</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <p> <strong> Required documents: </strong></p>
    </mat-list-item>
  </mat-list>
  <form>
    <h3>1. Resume</h3>
    <div *ngIf="resumePreview && resumePreview != ''">
      <div class="alert alert-success alert-dismissible">
        <button class="close" data-dismiss="alert" aria-label="close" (click)="deleteFile('resume')">&times;</button>
        <strong> Resume upload success!</strong> You can <a [href]="resumePreview" class="alert-link">download this
          file</a>.
      </div>
    </div>
    <div class="row">
      <button mat-stroked-button color='primary' type="button" style="margin:0.5rem" (click)="ResumePicker.click()">
        <mat-icon>add_circle</mat-icon>
        <span> upload resume</span>
      </button>
      <button mat-stroked-button color='primary' type="button" style="margin:0.5rem" (click)="useDefaultFile('resume')">
        <mat-icon>restore</mat-icon>
        <span> use default resume</span>
      </button>
    </div>
    <input type="file" #ResumePicker style="display: none;" (change)="onFilePicked($event, 'resume')"
      accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.google-apps.document">
    <h3>2. cover of letter</h3>
    <div *ngIf=" CVPreview && CVPreview != '' ">
      <div class="alert alert-success alert-dismissible">
        <button class="close" data-dismiss="alert" aria-label="close" (click)="deleteFile('CV')">&times;</button>
        <strong> Cover letter upload success!</strong> You can <a [href]="CVPreview" class="alert-link">download this
          file</a>.
      </div>
    </div>
    <div class="row">
      <button mat-stroked-button color='primary' type="button" style="margin:0.5rem" (click)="CVPicker.click()">
        <mat-icon>add_circle</mat-icon>
        <span> upload cover of letter</span>
      </button>
      <button mat-stroked-button color='primary' type="button" style="margin:0.5rem"
        (click)="useDefaultFile('coverLetter')">
        <mat-icon>restore</mat-icon>
        <span> use default cover of letter</span>
      </button>
    </div>
    <input type="file" #CVPicker style="display: none;" (change)="onFilePicked($event, 'coverLetter' )"
      accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.google-apps.document">
    <!-- <h3>3. letter of recommendation</h3>
    <div class="row">
      <button mat-stroked-button color='primary' type="button" (click)="filePicker.click()">
        <mat-icon>add_circle</mat-icon>
        <span> upload new document</span>
      </button>
      <input type="file" #filePicker style="display: none;" (change)="onFilePicked($event)">
    </div>
    <h3>4. Other documents</h3>
    <div class="row">
      <button mat-stroked-button color='primary' type="button" (click)="filePicker.click()">
        <mat-icon>add_circle</mat-icon>
        <span> upload new document</span>
      </button>
      <input type="file" #filePicker style="display: none;" (change)="onFilePicked($event)">
    </div> -->
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmitApplication()">submit</button>
</mat-dialog-actions>