<% include ../partials/header %>
<div class="container">
    <h1 class="newBlog-header">Create a New Blog</h1>
    <div class="row">    
        <div class="newBlog-div">
            <form action="/blogs" method="POST">
                <div class="form-group">
                    <label for="title">Blog Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Enter title" name="name">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <label for="image">Blog Image</label>
                    <input type="text" class="form-control" id="image" placeholder="Enter image url" name="image">
                </div>
                <div class="form-group">
                    <label for="description">Blog Description</label>
                    <textarea class="form-control" id="description" placeholder="Enter description" name="description" style="height: 200px;"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/blogs">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

