<div class="container" *ngIf="!loading">
    <form [formGroup]="facultyForm" (change)="setChanged()">
        <mat-tab-group class="mat-tabs">
            <mat-tab label="Personal Info">
                <div class="row first-row">
                    <div class="col-6 col-xs-12">
                        <mat-form-field>
                            <input matInput formControlName="first_name" placeholder="First Name"> 
                        </mat-form-field>
                    </div>
                    <div class="col-6 col-xs-12">
                        <mat-form-field>
                            <input matInput formControlName="last_name" placeholder="Last Name"> 
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-xs-12">
                        <mat-form-field>
                            <input matInput formControlName="gender" placeholder="Gender"> 
                        </mat-form-field>
                    </div>
                    <div class="col-6 col-xs-12">
                        <mat-form-field>
                            <input matInput formControlName="phone" placeholder="Phone Number"> 
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Account Info" >
                <div class="row first-row">
                    <div class="col-6 col-xs-12">
                        <mat-form-field>
                            <input matInput formControlName="email" placeholder="Email"> 
                        </mat-form-field>
                    </div>
                    <div class="col-6 col-xs-12">
                        <mat-form-field>
                            <input matInput formControlName="education" placeholder="Education"> 
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-xs-12">
                        <mat-form-field>
                            <input matInput formControlName="department" placeholder="Department">
                        </mat-form-field>
                    </div>
                    <div class="col-6 col-xs-12">
                        <mat-form-field>
                            <input matInput formControlName="office" placeholder="Office">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field>
                            <input matInput formControlName="experience" placeholder="Research Experience">
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Profile Picture">
                <div class="container">
                    <div class="row first-row">
                            <label for="profilePicInput">Profile Picture:</label>
                            <input type="file" class="profile-pic" id="profilePicInput"
                                   (change)="newPicture($event)" 
                                   placeholder="Profile Picture" 
                                   formControlName="image" 
                                   accept="image/x-png,image/jpeg">
                    </div>
                    <div class="row first-row" *ngIf="previewImg">
                        <img *ngIf="previewImg" [src]="previewImg" class="preview-img">
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
    <div class="row first-row">
        <button mat-raised-button color="primary" (click)="submit()">Save</button>
        <button mat-raised-button color="warn" (click)="close()">Close</button>
    </div>
</div>
