<app-header></app-header>
<div class="container">
    <div class="row" style="margin-top: 4rem">
        <div class="col col-md-7 col-sm-12">
            <h2>NEW OPPURTUNITIES FOR YOU</h2>
        </div>
        <div class="col col-md-4"></div>
        <div class="col col-md-1">
            <a routerLink="/shoppingCart">
                <mat-icon [matBadge]="shopping_cart.length" [matBadgeHidden]="shopping_cart.length <= 0"
                    matBadgeColor="warn">shopping_cart</mat-icon>
            </a>
        </div>
    </div>

    <mat-spinner style="display:block;margin:0 auto;" *ngIf="isLoading"></mat-spinner>

    <div class="row" *ngIf="opportunities.length > 0 && !isLoading">
        <div class="col-4"  *ngFor="let opportunity of opportunities; index as i">
            <mat-card>
                <mat-card-header>
                    <img mat-card-avatar [src]="opportunity.icon" [alt]="opportunity.name">
                    <mat-card-title>{{opportunity.name}}</mat-card-title>
                    <mat-card-subtitle>{{opportunity.school}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{opportunity.summary}}
                    </p>
                    <p>Apply before {{opportunity.expireTime}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-stroked-button color="primary" style="display:block;margin:0 auto"
                        (click)="findOptAndOpenDialog(opportunities[i].id)">
                        <mat-icon>done</mat-icon>
                        <span>Quick Apply</span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <p class="mat-body-1" style="text-align: center;" *ngIf="opportunities.length <= 0 && !isLoading">No opportunities
        posted yet!</p>
    <br>
    <mat-paginator style="background-color:rgba(255, 255, 255, 0.5);" [length]="totalNum" [pageSize]="numPerPage"
        [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="opportunities.length > 0">
    </mat-paginator>


    <div class="row justify-content-md-center">
        <div class="searchbar">
            <input class="search_input" [(ngModel)]="searchQuery" type="text" name=""
                placeholder="Search for a department or principal investigator" id="searchBar">
            <a class="search_icon" (click)="search()" id="searchLink"><i class="fas fa-search"></i></a>
        </div>
    </div>

    <div class="row justify-content-md-center" *ngIf="searchResults.length != 0 && !loadingSearch"
        style="margin-bottom: 1rem;">
        <div class="col col-12" style="text-align: center; margin-bottom: 1rem;">
            Filter by:
            <button class="btn btn-outline-primary" type="button" (click)="filterBy('People')">People</button>
            <button class="btn btn-outline-primary" type="bu`11tton" (click)="filterBy('Department')">Department</button>
        </div>
        <div class="card" *ngIf="filter == 'People' && searchResults.names.length > 0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let person of searchResults.names">
                    <div class="row">
                        <div class="col col-2">
                            <!-- <ngx-avatar name="{{person.first_name}} {{person.last_name}}" size="75"></ngx-avatar> -->
                            <ngx-avatar
                                src="{{person.image}}">
                            </ngx-avatar>
                        </div>
                        <div class="col col-6">
                            <div class="row">
                                <span *ngIf="person.first_name">{{person.first_name}} {{person.last_name}}</span>
                                <span *ngIf="!person.first_name">{{person.email}}</span>
                            </div>
                            <div class="row">
                                {{person.department}}
                            </div>
                            <div class="row">
                                {{person.address}}
                            </div>
                        </div>
                        <div class="col col-4">
                            <button mat-fab color="warn" (click)="ViewProfile()">
                                <mat-icon>search</mat-icon>
                            </button>
                            <button [disabled]="!person.opportunity || !person.available " mat-fab color="primary"
                                (click)="addToShoppingCart(person)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card" *ngIf="filter == 'Department' && searchResults.departments.length > 0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let person of searchResults.departments">
                    <div class="row">
                        <div class="col col-2">
                            <!-- <ngx-avatar name="{{person.first_name}} {{person.last_name}}" size="75"></ngx-avatar> -->
                            <ngx-avatar
                                src="{{person.image}}">
                            </ngx-avatar>
                        </div>
                        <div class="col col-8">
                            <div class="row">
                                <span *ngIf="person.first_name">{{person.first_name}} {{person.last_name}}</span>
                                <span *ngIf="!person.first_name">{{person.email}}</span>
                            </div>
                            <div class="row">
                                {{person.department}}
                            </div>
                            <div class="row">
                                {{person.address}}
                            </div>
                        </div>
                        <div class="col col-2">
                            <a><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card" *ngIf="filter==='People' && searchResults.names.length == 0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    No people match your search
                </li>
            </ul>
        </div>
        <div class="card" *ngIf="filter=='Department' && searchResults.departments.length == 0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    No departments match your search
                </li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="spinner-border" role="status" *ngIf="loadingSearch">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

</div>