<app-header></app-header>

<div class="row justify-content-sm-center" *ngIf="loadingPage">
    <mat-spinner></mat-spinner>
</div>

<body>
<div class="container-fluid" *ngIf="!loadingPage">
    <div class = "row justify-content-md-center">
        <div class = "col-lg-3 col-sm-4">
            <div class = "profile">
                <img [src] = "user.image" class = "profile-pic" (click)="test()">
                <div class="profile-item" *ngIf="loadingImg && student.image != ''">
                    <mat-spinner></mat-spinner>
                </div>
                <h4 id = "name">{{user.first_name}} {{user.last_name}}</h4>
                <div class = "caption-text" *ngIf="user.graduation_class">Class of {{user.graduation_class}}</div>
            </div>
        </div>
        <div class="col-lg-9 col-sm-8">

            <div class="messaging">
                <div class="inbox_msg">
                    <div class="inbox_people">
                        <div class="heading_search">
                            <div class="recent_heading">
                                <h4>Recent</h4>
                            </div>
                            <div class="search_msg">
                                <div class="stylish-input-group">
                                    <input type="text" class="search-bar" placeholder="Search">
                                    <span class="input-group-addon" style="margin-left:3px">
                                        <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="inbox_chat ">
                            <div class="chat_list active_chat">
                                <div class="chat_people">
                                    <div class="chat_img">
                                        <img class="msg_img" [src] = "user.image"> 
                                    </div>
                                    <div class="chat_prev">
                                        <h5>Brad Smith <span class="chat_date">Feb 18</span></h5>
                                        <p>This is a preview to the chat</p>
                                    </div>
                                </div>
                            </div>
                            <section *ngFor="let people of inbox; index as i">
                              <div class="chat_list" id="chat{{i}}" (click)="testIndex(this.id)">
                                <div class="chat_people">
                                  <div class="chat_img">
                                    <img class="msg_img" [src]="people.image">
                                  </div>
                                  <div class="chat_prev">
                                    <h5 *ngIf="people.first_name !== ''">{{people.first_name}} {{people.last_name}}</h5>
                                    <h5 *ngIf="people.first_name == ''">{{people.email}}</h5>
                                  </div>
                              </div>
                              </div>
                          </section>
                        </div>
                    </div>
                    <div class="messages">
                      <div class="message_history" #msgDiv>
                        <div class="incoming_message">
                          <div class="received_msg_body">
                            <div class="received_msg_text">
                              <p>I recieved this message from somebody and it is on two lines</p>
                              <span class="message_time">9:30 pm    |    February 23</span>
                            </div>
                          </div>
                        </div>
                        <div class="sent_msg_body">
                          <div class="sent_msg_text">
                            <p>I sent this message to someobody and it is on two lines</p>
                            <span class="message_time">9:33 PM    |    February 23</span>
                          </div>
                        </div>
                        <div class="sent_msg_body">
                          <div class="sent_msg_text">
                            <p>I sent this message</p>
                            <span class="message_time">9:33 PM    |    February 23</span>
                          </div>
                        </div>
                        <div class="incoming_message">
                          <div class="received_msg_body">
                            <div class="received_msg_text">
                              <p>I recieved this message from somebody</p>
                              <span class="message_time">9:30 pm    |    February 23</span>
                            </div>
                          </div>
                        </div>
                        <div class="sent_msg_body">
                          <div class="sent_msg_text">
                            <p>I sent this message</p>
                            <span class="message_time">9:33 PM    |    February 23</span>
                          </div>
                        </div>
                        <div class="incoming_message">
                          <div class="received_msg_body">
                            <div class="received_msg_text">
                              <p>I recieved this message from somebody</p>
                              <span class="message_time">9:30 pm    |    February 23</span>
                            </div>
                          </div>
                      </div>
                      <div class="sent_msg_body">
                        <div class="sent_msg_text">
                          <p>I sent this message</p>
                          <span class="message_time">9:33 PM    |    February 23</span>
                        </div>
                      </div>
                      <div class="incoming_message">
                        <div class="received_msg_body">
                          <div class="received_msg_text">
                            <p>I recieved this message from somebody</p>
                            <span class="message_time">9:30 pm    |    February 23</span>
                          </div>
                        </div>
                    </div>
                    </div>
                    <div class="type_msg">
                      <div class="input_msg_write">
                        <textarea type="text" class="write_msg" placeholder="Type a message"
                                  matInput cdkTextareaAutosize
                                  #autosize="cdkTextareaAutosize"
                                  cdkAutosizeMaxRows="1" ></textarea>
                        <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

