<!-- <div class="modal fade" id="interestsModal" role="dialog" aria-labelledby="interestsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Interests</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                   <div class="row">
                        <form>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Add interest" [formControl]="interestControl" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </form>
                   </div> 
                   <div class="row interest-row">
                       <div class="card" style="width:100%">
                           <ul class="list-group list-group-flush">
                               <li class="list-group-item" *ngFor="let interest of interests" style="width:100%">{{interest}} 
                                  <button class="btn trash-btn" (click)="deleteInterest(interest)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </li>
                           </ul>
                       </div>
                   </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="saveInterests()" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-danger" (click)="close()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row" style="width: 100%;">
        <div class="col-9">
            <form style="width: 100%;">
                <mat-form-field style="width: 100%;">
                    <input type="text" matInput class="searchBar" placeholder="Add interest" [formControl]="interestControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
        <div class="col-3" style="width: 100%;">
            <button mat-raised-button class="add-btn" color="primary">Add</button>
        </div>
    </div>
</div>
