.searchbar {
    width: 100%;
}

.interest-row {
    width: 100%;
    margin-top: 2rem;
}

.trash-btn {
    margin-right: 0!important;
    margin-left: auto!important;
}

.add-btn {
    margin-top: 1rem;
}

.row {
    width: 100%;
}

.btn-row {
    margin-top: 1rem;
    text-align: right;
}
