<app-header></app-header>

<body>
    <div class="container">
        <div class="row">
            <div class="col col-sm-3 col-xl-4 calendar-wrapper">
                <mat-calendar #calendar (monthSelected)="monthSelected($event)" [(selected)]="selectedDate"
                    (selectedChange)="dateChanged()"></mat-calendar>
                <button mat-raised-button color="primary" (click)="addEvent()">
                    <mat-icon>add_circle</mat-icon>
                    Add event to the Calendar
                </button>
                <br><br>
                <button mat-raised-button color="primary" (click)="googleOath()">
                    <mat-icon>calendar_today</mat-icon>
                    Google Calendar Sync
                </button>
                <br><br>
                <button mat-raised-button color="primary" (click)="loadMicrosoftCalendar()">
                    <mat-icon>calendar_today</mat-icon>
                    Microsoft Calendar Sync
                </button>
            </div>

            <div class="col col-sm-9 col-xl-8 weekly-view" *ngIf="!loadingPage">
                <div class="table-responsive-sm">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" *ngFor="let day of selectedWeek">
                                    {{day.display}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let time of eventArr; index as i">
                                <th scope="col">{{time.time}}</th>
                                <td scope="col">
                                    <section *ngFor="let event of weeklyEvents[0][i]">
                                        <div class="event-card" *ngIf="text!==''" (click)="viewEventDetails(event)">
                                            <span>
                                                {{event.summary}}
                                            </span>
                                        </div>
                                    </section>
                                </td>
                                <td scope="col">
                                    <section *ngFor="let event of weeklyEvents[1][i]">
                                        <div class="event-card" *ngIf="text!==''" (click)="viewEventDetails(event)">
                                            <span>
                                                {{event.summary}}
                                            </span>
                                        </div>
                                    </section>
                                </td>
                                <td scope="col">
                                    <section *ngFor="let event of weeklyEvents[2][i]">
                                        <div class="event-card" *ngIf="text!==''" (click)="viewEventDetails(event)">
                                            <span>
                                                {{event.summary}}
                                            </span>
                                        </div>
                                    </section>
                                </td>
                                <td scope="col">
                                    <section *ngFor="let event of weeklyEvents[3][i]">
                                        <div class="event-card" *ngIf="text!==''" (click)="viewEventDetails(event)">
                                            <span>
                                                {{event.summary}}
                                            </span>
                                        </div>
                                    </section>
                                </td>
                                <td scope="col">
                                    <section *ngFor="let event of weeklyEvents[4][i]">
                                        <div class="event-card" *ngIf="text!==''" (click)="viewEventDetails(event)">
                                            <span>
                                                {{event.summary}}
                                            </span>
                                        </div>
                                    </section>
                                </td>
                                <td scope="col">
                                    <section *ngFor="let event of weeklyEvents[5][i]">
                                        <div class="event-card" *ngIf="text!==''" (click)="viewEventDetails(event)">
                                            <span>
                                                {{event.summary}}
                                            </span>
                                        </div>
                                    </section>
                                </td>
                                <td scope="col">
                                    <section *ngFor="let event of weeklyEvents[6][i]">
                                        <div class="event-card" *ngIf="text!==''" (click)="viewEventDetails(event)">
                                            <span>
                                                {{event.summary}}
                                            </span>
                                        </div>
                                    </section>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col col-sm-10 col-xl-9 weekly-view" *ngIf="loadingPage">
                <mat-spinner></mat-spinner>
            </div>

        </div>
    </div>

</body>