<app-header></app-header>

<body>
    <div class="container col-4 col-offset-4">
        <br><br>
        <div class="row">
            <button mat-raised-button color="primary" (click)="googleOath()">
                <mat-icon>calendar_today</mat-icon>
                Google Calendar Sync
            </button>
        </div>
        <br><br>
    </div>
    <!-- <div class="row">
        <iframe
            src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=amFzb25saXVvazA1MDdAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=dDFoNHNrZWM4dXNkcGt0azI3OTJwNzBvMmJoYzlsNGxAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=emgtY24udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%234285F4&amp;color=%230B8043"
            style="border:solid 1px #777" width="800" height="600" aligh="right" frameborder="0" scrolling="no">
        </iframe>
    </div> -->
</body>