<app-header></app-header>

<body>    
    <form ngNativeValidate #EditForm="ngForm" class="container-fluid" (ngSubmit)="editStudent(EditForm.value)">
        <div class="row pt-3">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-3 col-md-4 p-md-3 pt-2 px-5 pb-4">
                <div class="edit-container" id="info">
                    <ul class="ml-5" style="list-style: none;">
                        <li>
                            <b>Profile Picture</b>
                            <br />
                            <input type="text" [(ngModel)]="image" id="profile-pic" name="image" placeholder="enter image url">
                        </li>
                        <li>
                            <b>First Name</b>
                            <br />
                            <input type="text" [(ngModel)]="first_name" name="first_name">
                        </li>
                        <li>
                            <b>Middle Name</b>
                            <br />
                            <input type="text" [(ngModel)]="middle_name" name="middle_name">
                        </li>
                        <li>
                            <b>Last Name</b>
                            <br />
                            <input type="text" [(ngModel)]="last_name" name="last_name">
                        </li>
                        <li>
                            <b>Majors</b>
                            <br />
                            <input type="text" [(ngModel)]="major" name="major">
                        </li>
                        <li>
                            <b>Minors</b>
                            <br /> 
                            <input type="text" [(ngModel)]="minor" name="minor">
                        </li>
                        <li>
                            <b>Email</b>
                            <br /> 
                            <input type="text" [(ngModel)]="email" name="email"></li>
                        <li>
                            <b>Phone</b>
                            <br />
                            <input type="text" [(ngModel)]="phone" name="phone">                                   
                        </li>
                        <li>
                            <b>Address</b>
                            <br />
                            <input type="text" [(ngModel)]="address" name="address">
                        </li>
                        <li>
                            <b>Gender</b>
                            <br />
                            <input type="text" [(ngModel)]="gender" name="gender">
                        </li>
                    </ul>
                </div>
                    
                <div class="edit-container mt-3" id="files">
                    <ul class="ml-5" style="list-style: none;">
                        <li>
                            <b>Resume</b>
                            <br />
                            <input type="file" id="profile-pic" name="profile-pic">
                        </li>
                        <li>
                        <!-- <form [formGroup]="form" (ngSubmit)="editTranscript()">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Bob" formControlName="name">
                                </div>
                                <div class = "form-group">
                                    <label for="avatar"><h6>Transcript</h6></label>
                                    <input type="file" id="avatar" (change) = "onFileChange($event)" #fileInput>
                                </div>
                                <div>
                                    <button type="submit" class="myButton" > Upload </button>
                                </div>
        
                            </form> -->
                            <b>Transcript</b>
                            <br />
                            <input type="file" id="profile-pic" name="profile-pic">
                        </li>
                        <li>
                            <b>Cover Letter</b>
                            <br /> 
                            <input type="file" name="minors">
                        </li>
                        <li>
                            <b>Letter of Recommendation</b>
                            <br />
                            <input type="file" id="profile-pic" name="profile-pic">
                        </li>
                    </ul>
                </div>
            </div>
                        
                <div class="col-lg-3 col-md-5 p-md-3 px-5 pb-5">
                    <div class="edit-container" id="summary">
                        <h2>Summary</h2>
                        <textarea [(ngModel)]="student_summary" name="student_summary" placeholder="Say something about yourself."></textarea>
                        
                    </div>
                </div>
                <div>
                    <button type="submit" class="myButton" >Save </button>
                </div>
            <div class="col-lg-3 col-md-1"></div>
        </div>
    
    </form>
</body>
