<app-header></app-header>

<div class="row justify-content-sm-center" *ngIf="isloadingPage">
    <mat-spinner></mat-spinner>
</div>

<body *ngIf="!isloadingPage">
    <div class="container-fluid">
        <div class="row justify-content-lg-center">
            <div class="col-lg-3 col-sm-4">
                <div class="profile-card">
                    <img [src]="faculty.image" class="pro-pic" (click)="test()" (load)="finishLoad()">
                    <div class="profile-item" *ngIf="loadingImg && faculty.image != ''">
                        <mat-spinner></mat-spinner>
                    </div>
                    <h4 id="name">{{faculty.first_name}} {{faculty.last_name}}</h4>
                    <div class="caption-text">PhD Associate Professor</div>

                    <div class="profile-item">
                        <h6>Department</h6>
                        {{faculty.department}}
                    </div>
                    <div class="profile-item">
                        <h6>Education</h6>
                        <ul>
                            <li>{{faculty.education}}</li>
                        </ul>
                    </div>
                    <div class="profile-item">
                        <h6>Experience</h6>
                        <ul>
                            <li>{{faculty.experience}}</li>
                        </ul>
                    </div>
                    <div class="profile-item">
                        <h6>Office</h6>
                        {{faculty.address}}
                    </div>
                    <div class="profile-item">
                        <h6>Email</h6>
                        {{faculty.email}}
                    </div>
                    <div class="profile-item">
                        <h6>Phone</h6>
                        {{faculty.phone}}
                    </div>
                </div>
                <div>
                    <!-- <button class="myButton" (click)="edit()">Edit</button> -->
                    <button mat-raised-button color="primary" (click)="edit()">Edit</button>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="d-flex flex-column align-items-center">
                    <!-- <div class="research-summary">
                        <h1>RESEARCH SUMMARY</h1> {{faculty.research_summary}}
                    </div> -->
                    <div class = "research-summary">
                        <h1>RESEARCH SUMMARY </h1>
                        <div class="row" style="width:100%">
                            <mat-form-field style="width:100%" class="summary-text">
                                <mat-label>Edit summary:</mat-label>
                                <textarea matInput cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize"
                                        cdkAutosizeMinRows="5"
                                        cdkAutosizeMaxRows="10" 
                                        [(ngModel)]="newSummary"
                                        >{{newResearchSummary}}</textarea>
                            </mat-form-field>
                        </div>
                        <div class="row justify-content-lg-center" style="width:100%">
                            <button mat-raised-button color="primary" class="sum-btn" (click)="saveSummary()">Save summary</button>
                            <button mat-raised-button color="warn" (click)="testViewProfile()">TEST VIEW MODAL</button>
                        </div>
                    </div>
                    <!-- <div class="current-projects">
                        <h1>CURRENT PROJECTS</h1>
                        {{faculty.current_projects}}
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</body>