<body style=" background-image: linear-gradient(65deg, #AEEFF9, #FCF7CC);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;">
    <div class="row flex-row-reverse no-gutters" id="signin-parent">
        <div class="col-md-6" id="signin-container">
            <h1>CURVE</h1>
            <br>
            <flash-messages></flash-messages>
            <p *ngIf="!isLoading" >Please sign into your account.</p>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            <form #LoginForm="ngForm" style="display: flex; flex-direction: column;" (ngSubmit)="userLogin(LoginForm)" *ngIf="!isLoading">
                <mat-form-field>
                    <input matInput name="email"  type="email" ngModel placeholder="E-Mail" #emailInput="ngModel" required email>
                    <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput type="password" name="password" ngModel  placeholder="Password" #passwordInput="ngModel" required>
                    <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <mat-label>Identity:</mat-label>
                  <mat-select id="identity" name="entity" ngModel #entity="ngModel" required>
                      <mat-option value="student">Student</mat-option>
                      <mat-option value="faculty">Faculty</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <div class="options">
                    <div><input type="checkbox" ngModel #rememberme="ngModel" id="rememberMe" name="rememberMe"> Remember Me</div>
                    <a href="#">Forgot your password?</a>
                </div>
                <br>
                <div class="options">
                    <button type="submit" class="myButton">Sign in</button>
                    <a class="myButton" routerLink="/register" routerLinkActive="active">Register</a>
                    <!-- <a href="" type="myButton" class="myButton">Register</a> -->
                </div>

            </form>


            <div id="legal">
                <a href>Terms of Use</a>
                <a href>Privacy</a>
            </div>
            </div>
        <div class="col-md-6" id="wave-canvas"></div>
        </div>
</body>

